<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    PoC google
  </h1>
</div>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Job Name" [(ngModel)]='jobName'>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Input Locations" [(ngModel)]="inputLocations"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Output Locations" [(ngModel)]="outputLocations"></textarea>
  </mat-form-field>
</form>
<br/>
<br/>
<button (click)="signIn()">sign in</button>&nbsp;
<button (click)="loadDataFlow()">Execute</button>
<router-outlet></router-outlet>
